<form method="post" action="{{ path('app_bookmark_delete', {'id': bookmark.id}) }}" onsubmit="return confirm('Are you sure you want to delete this bookmark?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ bookmark.id) }}">
    <button class="btn btn-outline-danger">
       <i class="oi oi-trash"></i> Delete
    </button>
</form>
