{% extends 'base.html.twig' %}

{% block title %}New Bookmark{% endblock %}

{% block main_container %}
    <h1>Create new Bookmark</h1>
    {% include 'commons/_messages.html.twig' %}
    {{ include('bookmark/_form.html.twig') }}


    <a class="btn btn-outline-primary" href="{{ path('app_bookmark_index') }}">
        <i class="oi oi-chevron-left"></i> back to list
    </a>
{% endblock %}
