{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-outline-success">
        <i class="oi oi-hard-drive"></i> {{ button_label|default('Save') }}
    </button>
{{ form_end(form) }}
